.page-layout {
  background-color: coral;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.title {
  font-family: "Brush Script MT", cursive;
  font-size: 60px;
  color: blanchedalmond;
  margin-bottom: 50px;
}

.list {
  display: inline-block;
  text-align: left;
  color: antiquewhite;
}

.list li,
.list li a {
  font-size: 20px;
  color: antiquewhite;
}

.recipe-image {
  border: 4px solid chocolate;
}